#score{
    position: absolute;
    color:hotpink;
    left:60px;
    top:0px;
}
#bg{
    position: absolute;
    height: 700px ;

    width: 1530px;
}
#score_title{
    position: absolute;
    left:10px;
    top:0px;
    color:hotpink;

}
#bat{
    height: 300px;
    width: 100px;
    position: absolute;
    left :100px;
    top:300px;
}
#boundry{
    height: 700px;
    width: 100px;
    position: absolute;
    left :1480px;
    top:10px;
}
#ball{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 1350px;
    
}
#stump{
    position: absolute;
    height: 300px;
    width: 30px;
    left: 100px;
    top:340px;
}
#grass
{
    position: absolute;
    height: 100px;
    width: 1530px;
    left: 0px;
    top:640px;
    background-color: greenyellow;
}
